{% extends 'base.html.twig' %}

{{ form_start(form) }}
<fieldset>
    {{ form_widget(form.submit) }}
</fieldset>
{{ form_end(form) }}

<a href="{{ path('course_list') }}">back to list</a>
{% endblock %}